/*! starstuff-style | ISC License | https://github.com/keplersj/starstuff-style */

/* Let elements be elements. They can set their own sizing. */
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
ol,
textarea {
  margin: 0;
  padding: 0;
}

/* Change line height for better legibility. */
body {
  line-height: 1.5;
}

/* Pull blockquotes to the side to distinguish from the rest of the document. */
blockquote {
  padding-left: 1.5em;
  position: relative;
}

/* Give blockquotes a lead-in bar, to better distinguish from the rest of the document.  */
blockquote::before {
  position: absolute;
  content: "";
  width: 0.5em;
  height: 100%;
  top: 0;
  left: 0;
}

/* Color the blockquote lead-in bar on print. */
@media print {
  blockquote::before {
    background-color: black;
  }
}

/* Set color and font optimizations for screens. */
@media screen {
  html {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
  }

  body {
    color: #4a4a4a;
  }

  a {
    color: #4a4a4a;
  }

  blockquote::before {
    background-color: #4a4a4a;
  }
}

/* Set document changes for screens with dark mode enabled. */
@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #4a4a4a;
    color: white;
  }

  a {
    color: white;
  }

  blockquote::before {
    background-color: white;
  }
}
